<!DOCTYPE html>
<html>
<head>
<title> Photo DB GUI </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<div class='container'>

  <!-- Begin Title -->
  <div class='row'>
    <div class='col-lg-12'>
      <h1 class="text-center"> Photo DB GUI </h1>
    </div>
  </div>
  <!-- End Title -->

  <div class="row">

    <!-- Begin Left Column -->
    <div class="col-lg-6">

    <!-- Begin Photo Viewer -->
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-center"> Database Viewer </h4>
        <div class="well" style="height:40vh">
          <h4> Photos go here! </h4>
        </div>
      </div>
    </div>
    <!-- End Photo Viewer -->

    <!-- Begin Utilities -->
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-center"> Utilities </h4>
        <div class="well" style="height:40vh">
          <h4> Utilities go here! </h4>
        </div>
      </div>
    </div>
    <!-- End Utilities -->
  </div>
  <!-- End  Left Column -->

  <!-- Begin Right Column -->
  <div class="col-lg-6">

    <h4 class="text-center"> Photo Viewer </h4>

    <div class="well" style="height:87vh">


    </div>

  </div>
  <!-- End Right Column -->
</div>
</body>
</html>
